body > header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 999;
  background-color: #222;
  border-bottom: 1px solid #333;
  outline: 1px solid #111;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

body > header h1 {
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 1.2;
}

.content {
  padding: 60px 16px 32px 16px;
}

.content * {
  margin: 0;
  font-size: 12px;
  line-height: 1.8;
  color: #333;
}

.content h2 {
  font-size: 16px;
  text-align: center;
  margin-bottom: 15px;
  color: #000;
}

.content h3 {
  font-size: 14px;
  line-height: 1.5;
  display: flex;
  color: #000;
}

.content h3::before {
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: black;
  margin-right: 6px;
  margin-top: 9px;
}