:root {
  --main-width: 1200px;
  --font: 'n', sans-serif;
  --bold-font: 'nb', sans-serif;
  
  --title-color: #fff;
  --text-color: rgb(113, 118, 123);
  --body-color: #191919;
  
  --h1-font-size: 34px;
  --h2-font-size: 24px;
  --p-font-size: 16px;
  --small-font-size: 14px;

  --container-color: #252525;
  --container-hover-color: #303030;
  --container-border-color: #303030;
  --container-padding: 32px;
  --container-border-radius: 15px;
}

@font-face {
  font-family: 'n';
  src: url('/static/fonts/Nunito-Regular.ttf');
}

@font-face {
  font-family: 'nb';
  src: url('/static/fonts/Nunito-SemiBold.ttf');
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--body-color);
  min-height: 100vh;
  font-family: var(--font);
  position: relative;
  line-height: 1.5;
}

* {
  line-height: 1.5;
}

body > .main {
  width: var(--main-width);
  margin: 0 auto;
  padding: 40px 0;
  min-height: 100px;
}

.app-header {
  height: 90px;
  background-color: rgba(40, 40, 40, 0.9);
  backdrop-filter: blur(5px);
  border-bottom: 1px solid var(--container-border-color);
  overflow: hidden;
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.app-header .inner {
  width: var(--main-width);
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: inherit;
}

.app-header .inner .logo {
  display: block;
  width: 137px;
  height: 37px;
  background-image: url('/static/images/logo.png');
  background-size: 100% 100%;
}

.app-header .inner nav {
  margin-left: 120px;
}

.app-header .inner nav ul {
  display: flex;
  align-items: center;
  margin: 0;
}

.app-header .inner nav li {
  display: block;
  height: 40px;
  margin-right: 10px;
}

.app-header .inner nav li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 20px;
  color: var(--text-color);
  font-size: var(--small-font-size);
  text-decoration: none;
  border-radius: 25px;
  transition: all 0.3s ease-out;
}

.app-header .inner nav li a:hover {
  color: var(--title-color);
}

.app-header .inner nav li a.active {
  background-color: var(--container-hover-color);
  color: var(--title-color);
}

.app-footer {
  display: block;
  padding-bottom: 50px;
}

.app-footer small {
  text-align: center;
  display: block;
  color: var(--text-color);
  font-size: var(--small-font-size);
  opacity: 0.5;
}

/* 404 page */
.page-404 {
  display: block;
}