.page-contact .main > h1 {
  color: var(--title-color);
  font-size: var(--h1-font-size);
  font-family: var(--bold-font);
  margin: 0;
  padding-left: 15px;
  margin-bottom: var(--margin-big);
}

.page-contact .main > .content {
  border-radius: var(--container-border-radius);
  background-color: var(--container-color);
  padding: var(--container-padding);
}

@media (max-width: 800px) {
  .page-contact .main > h1 {
    padding-left: 10px;
  }
}