.page-privacy-policy {
  display: block;
}

.page-privacy-policy .main > h1 {
  color: var(--title-color);
  font-size: var(--h1-font-size);
  font-family: var(--bold-font);
  margin: 0;
  padding-left: 15px;
}

.page-privacy-policy .main > time {
  color: var(--text-color);
  font-size: var(--small-font-size);
  display: block;
  margin-bottom: var(--margin-big);
  padding-left: 15px;
}

.page-privacy-policy .main > .content {
  border-radius: var(--container-border-radius);
  background-color: var(--container-color);
  padding: var(--container-padding);
}

.page-privacy-policy .main > .content h2 {
  color: var(--title-color);
  font-size: var(--h2-font-size);
  font-family: var(--bold-font);
  margin: 0;
}

.page-privacy-policy .main > .content h2:not(:first-child) {
  padding-top: 10px;
}

.page-privacy-policy .main > .content p {
  color: var(--text-color);
  font-size: var(--p-font-size);
  margin: 0 0 10px 0;
}

.page-privacy-policy .main > .content ul {
  color: var(--text-color);
  font-size: var(--p-font-size);
  margin: 0 0 10px 0;
}

@media (max-width: 800px) {
  .page-privacy-policy .main > h1 {
    padding-left: 10px;
  }

  .page-privacy-policy .main > time {
    padding-left: 10px;
  }
}