// todo: Join the LOGISK community! Follow us on any of the following platforms to get updates about our games.

{{- define "app-footer" -}}
  <footer class="app-footer">
    <nav>
      <ul>
        <li><a href="/">GAMES</a></li>
        <!-- <li><a href="/news">NEWS</a></li> -->
        <li><a href="/privacy">PRIVACY POLICY</a></li>
        <li><a href="/contact">CONTACT</a></li>
      </ul>
    </nav>
    
    <small>© 2023 YSGAME Studio. All rights reserved.</small>
    <p class="icp">沪ICP备2024058569号-2</p>
  </footer>
{{- end -}}