{{- define "game-digit-merge-banner" -}}
  banner
{{- end -}}

{{- define "game-digit-merge-info" -}}
  <img alt="Digit Merge!" src="https://is1-ssl.mzstatic.com/image/thumb/Purple126/v4/f3/c4/18/f3c418b6-9ed5-5d7b-9c46-11f5215af1d4/AppIcon-0-0-1x_U007emarketing-0-0-0-6-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/340x340bb.png" class="app-icon" />

  <div class="data">
    <h1>Digit Merge!</h1>
    <p>Merge Gears and Balls, Challenge Your Number Intelligence!</p>
  </div>

  <div class="download">
    <a href="https://apps.apple.com/us/app/digit-merge/id6448780577" alt="Digit Merge!" target="_blank" class="download-ios">
      <span>Download on the</span>
      <strong>App Store</strong>
    </a>
  </div>
{{- end -}}

{{- define "game-digit-merge-interface" -}}
  <img alt="Digit Merge!" src="https://is1-ssl.mzstatic.com/image/thumb/PurpleSource116/v4/8e/82/6b/8e826b31-7cc7-c37f-0e0e-c25195b75531/1f76b56e-09a1-40cc-b0e3-ab5ec0cac20d_1__U00281_U0029.png/1290x2796bb.png" />
  <img alt="Digit Merge!" src="https://is1-ssl.mzstatic.com/image/thumb/PurpleSource126/v4/4d/71/c6/4d71c661-46e5-af5d-7a47-60b30b58ead1/fe0c9f96-ed67-40da-8356-95eeaa6b452d_2__U00281_U0029.png/1290x2796bb.png" />
  <img alt="Digit Merge!" src="https://is1-ssl.mzstatic.com/image/thumb/PurpleSource126/v4/ae/5f/b0/ae5fb0ba-ae4f-ed97-be17-94a08f0482e0/0c18a4be-b05a-4b0d-93a9-03bbaa954448_3__U00281_U0029.png/1290x2796bb.png" />
  <img alt="Digit Merge!" src="https://is1-ssl.mzstatic.com/image/thumb/PurpleSource116/v4/8a/91/6e/8a916e82-ef9a-23db-a366-519d33df6012/d58aa9a6-e373-468c-b3b9-8f1eb6d0b6b6_4__U00281_U0029.png/1290x2796bb.png" />
{{- end -}}

{{- define "game-digit-merge-content" -}}
  <p>Are you ready for a fun and challenging number merging game? Look no further, because this game is perfect for you! Based on number merging, you need to merge gears and balls with numbers to obtain larger starting numbers and numbers for collisions. The starting numbers need to collide to obtain the final number, which can be upgraded to reach even higher scores.</p>
  <p>The game is easy to play and offers a simple gameplay experience. You need to merge larger starting numbers and then let them collide to obtain the final number, which will be your score. Each merge can bring surprises and challenge your number intelligence.</p>
  <p>If you're a fan of number games, then this game is a must-try. Download it now and challenge your number intelligence!</p>

  <div class="download">
    <a href="https://apps.apple.com/us/app/digit-merge/id6448780577" alt="Digit Merge!" target="_blank" class="download-ios">
      <span>Download on the</span>
      <strong>App Store</strong>
    </a>
  </div>
{{- end -}}