{{- define "game-sudoku-crown-banner" -}}
  banner
{{- end -}}

{{- define "game-sudoku-crown-info" -}}
  <img alt="Sudoku Crown" src="https://is1-ssl.mzstatic.com/image/thumb/Purple126/v4/e0/60/4e/e0604e25-034b-78e7-3e69-fbabca7266b6/AppIcon-0-0-1x_U007epad-0-0-0-10-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/340x340bb.png" class="app-icon" />

  <div class="data">
    <h1>Sudoku Crown</h1>
    <p>Challenge Your Brain with Sudoku Game!</p>
  </div>

  <div class="download">
    <a href="https://apps.apple.com/us/app/sudoku-crown/id6450429527" alt="Sudoku Crown" target="_blank" class="download-ios">
      <span>Download on the</span>
      <strong>App Store</strong>
    </a>
  </div>
{{- end -}}

{{- define "game-sudoku-crown-interface" -}}
  <div class="list">
    <img alt="Sudoku Crown" src="https://is1-ssl.mzstatic.com/image/thumb/PurpleSource116/v4/80/3a/60/803a602e-85e5-1988-b288-06b34e116a0b/e5f7a9c5-57b8-4ee3-a225-b1f5893b71a3_11.jpg/1242x2688bb.png" />
    <img alt="Sudoku Crown" src="https://is1-ssl.mzstatic.com/image/thumb/PurpleSource116/v4/14/12/dc/1412dc7e-ad78-5e7b-c42f-cfe5ea9ed785/b74a1f5f-1b4c-4480-86aa-9a2efbfce23a_22.jpg/1242x2688bb.png" />
    <img alt="Sudoku Crown" src="https://is1-ssl.mzstatic.com/image/thumb/PurpleSource126/v4/b9/5f/8f/b95f8f2e-a7b9-886a-d223-806c7a2b2be4/32fedb43-2637-4688-92b5-c70a8a2b90cb_33.jpg/1242x2688bb.png" />
    <img alt="Sudoku Crown" src="https://is1-ssl.mzstatic.com/image/thumb/PurpleSource116/v4/a6/c4/6f/a6c46f34-b7d2-85e4-c5ca-c248e44c262b/4348711c-38a7-4aa8-803e-ca06da5b7df3_44.jpg/1242x2688bb.png" />
  </div>
{{- end -}}

{{- define "game-sudoku-crown-content" -}}
  <p>Looking for a game that can exercise your brain? Now, we introduce you to the most popular Sudoku game! Sudoku is a logic game that involves filling a 9x9 grid with numbers. It may sound simple, but it requires high intelligence and patience. Our Sudoku game provides multiple difficulty levels, from beginner to expert, and each game can bring you joy and satisfaction.</p>
  <p>Our Sudoku game also includes special features such as note-taking, auto-check, and hints, which can help you solve puzzles more easily. In addition, our Sudoku game offers beautiful interfaces and sound effects, bringing you a brand new gaming experience.</p>
  <p>Download our Sudoku game and challenge your brain now! It's available for free on the App Store!</p>

  <div class="download">
    <a href="https://apps.apple.com/us/app/sudoku-crown/id6450429527" alt="Sudoku Crown" target="_blank" class="download-ios">
      <span>Download on the</span>
      <strong>App Store</strong>
    </a>
  </div>
{{- end -}}

{{- define "game-sudoku-crown-download" -}}
  <div class="download-bar">
    <a href="https://apps.apple.com/us/app/sudoku-crown/id6450429527" alt="Sudoku Crown" target="_blank" class="download-ios">
      <span>Download on the</span>
      <strong>App Store</strong>
    </a>
  </div>
{{- end -}}