{{- define "game-sudoku-crown-banners" -}}
  banners
{{- end -}}

{{- define "game-sudoku-crown-info" -}}
  <img src="#" class="app-icon" />

  <div class="data">
    <h1>Sudoku Crown</h1>
    <p>Desc desc desc</p>
  </div>

  <div class="download">
    <a href="#" class="ios">
      <span>Download on the</span>
      <strong>App Store</strong>
    </a>
  </div>
{{- end -}}

{{- define "game-sudoku-crown-interface" -}}
  interface
{{- end -}}

{{- define "game-sudoku-crown-content" -}}
  content
{{- end -}}