{{- define "head" -}}
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{- if .title -}}
  <title>YSGame Studios - {{.title}}</title>
  {{- else -}}
  <title>YSGame Studios</title>
  {{- end -}}
  <link rel="icon" href="https://www.sufystatic.com/favicon.ico" />
  <link rel="preload" href="/static/fonts/Nunito-Regular.ttf" as="font" type="font/tff" crossorigin>
  <link rel="preload" href="/static/fonts/Nunito-SemiBold.ttf" as="font" type="font/tff" crossorigin>
  <link type="text/css" rel="stylesheet" href="/static/styles/normalize.css">
  <link type="text/css" rel="stylesheet" href="/static/styles/common.css">
  {{- if eq .active "games" -}}
  <link type="text/css" rel="stylesheet" href="/static/styles/games.css">
  {{- else if eq .active "news" -}}
  <link type="text/css" rel="stylesheet" href="/static/styles/news.css">
  {{- else if eq .active "privacy_policy" -}}
  <link type="text/css" rel="stylesheet" href="/static/styles/privacy.css">
  {{- else if eq .active "contact" -}}
  <link type="text/css" rel="stylesheet" href="/static/styles/contact.css">
  {{- end -}}
{{- end -}}