<!DOCTYPE html>
<html>

<head>
  {{- template "head" . -}}
</head>

<body class="page-privacy-policy">
  {{- template "app-header" . -}}

  <div class="main">
    <h1>YSGame Stuios Privacy Policy</h1>
    <time>Last Update: 23 / 1 / 2023</time>

    <div class="content">
      <p>YS Games Studio is dedicated to protecting the
        privacy rights of online users (“User” or “You”). Please note that the scope of this Privacy Policy is limited
        solely to information collected from YS Game Studios through your use of the Service. This online
        privacy policy (“Privacy Policy”) governs the use and control of information we collect, store, and provide in
        connection with YS Game Studios games or applications (“Services”).</p>

      <p>We may amend our Privacy Policy from time to time, so
        we encourage you to review it periodically. By using the Service, you consent to the collection and use of your
        personal information as described in this Privacy Policy.</p>
      <p>content content</p>

      <h2>Cookie</h2>

      <p>When you access or view our game
        content, the service sends cookies to your computer. A cookie is a small data file that is transferred to your
        computer's hard disk. It typically quickly identifies a user's computer and &quot;remembers&quot; information
        about the user's access, such as settings and username and password. Information contained in cookies may be
        linked to your personal information for purposes such as improving the quality of our services, tailoring
        recommendations to your interests, and usability of our services. You can disable cookies at any time, but you
        may not be able to access or use some features of the Service.</p>

      <h2>Information Collected and Used</h2>

      <p>When you install any of the YS game studios or
        applications, we may collect and record information you voluntarily provide us through www.facebook.com
        (&quot;Facebook&quot;) in accordance with Facebook's policies and terms. YS Game Studio's primary
        purpose in collecting user information is to provide and enhance our services and to help users navigate and use
        our services easily.</p>

      <p>The types of personal information collected pursuant to
        the activities described above may vary depending on the activity. This &quot;personal information&quot; is
        defined as information about you that can be used to contact or identify you. Personal information includes your
        name, Facebook user identification number, or email address. In addition, we may obtain information from
        you:</p>

      <ul>
        <li>access and participate in message boards on the
        Service;</li>
        <li>email customer support questions or</li>
        <li>purchase Virtual Products of any kind;<br />Please note that third-party sites control purchases of
        virtual goods offered by the Service and therefore do not have access to your credit card details or billing
        information. YS Game Studios may invite you to share non-personal information about yourself including,
        but not limited to:</li>
      </ul>
    </div>
  </div>

  {{- template "app-footer" . -}}
</body>
</html>
