.app-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.app-container {
    flex: 1;
    width: var(--main-width);
    margin: 0 auto;
    padding: var(--margin-big) 0;
}

@media (max-width: 800px) {
    .app-container {
        width: auto;
        padding: var(--margin-big) 10px;
        margin: 0;
    }
}